<div class="hero-unit">
	<h1 class="heading">Philadelphia Spice Trader Admin</h1>
</div>

<% if @orders.size > 0 %>
<div id="lastOrders" class="widget">
	<table border="0" cellspacing="5" cellpadding="5" class="table table-striped table-condensed">
		<caption><h4>Your Last Five Completed Orders</h4></caption>
		<thead>
		 <tr>
			<th>ID</th>
			<th>Customer</th>
			<th>Date</th>
			<th>State</th>
			<th>Total</th>

		
		 </tr>
		</thead>
		<tbody>
		<% @orders.each do |order| %>
			<tr>
					<%= content_tag :td, order.uuid.to_s.truncate(8) %>
						<%= content_tag :td, order.customer.name %>
					<%= content_tag :td, order.updated_at.strftime("%b %d") %>
					<%= content_tag :td, order.state %>
					<%= content_tag :td, order.shipping_cost ? order.grand_total : order.total_price   %>

			
					<%= content_tag :td, (link_to "Show", stat_path(id: order.id), class: "btn btn-mini") %>
			</tr>
		<% end %>

	</tbody>
	
	
	</table>

</div>

<% else %>
<h2>Sorry, No Orders Right Now</h2>
<% end %>


<% if @unshipped_orders.size > 0 %>
<div id="ordersToShip" class="widget">
	<table border="0" cellspacing="5" cellpadding="5" class="table table-striped table-condensed">
		<caption><h4>Orders You Have Yet To Ship</h4></caption>
		<thead>
		 <tr>
			<th>ID</th>
			<th>Customer</th>
			<th>Date</th>
			<th>State</th>
			<th>Shipping Method</th>
			<th>Total</th>

		
		 </tr>
		</thead>
		<tbody>
		<% @unshipped_orders.each do |order| %>
			<tr>
					<%= content_tag :td, order.uuid.to_s.truncate(8) %>
					<%= content_tag :td, order.customer.name %>
					<%= content_tag :td, order.updated_at.strftime("%b %d") %>
					<%= content_tag :td, order.state %>
					<%= content_tag :td, order.shipping_method %>
					<%= content_tag :td, order.shipping_cost ? order.grand_total : order.total_price   %>

			
					<%= content_tag :td, (link_to "Show", stat_path(id: order.id), class: "btn btn-mini") %>
						<%= content_tag :td, (link_to "Mark As Shipped", update_order_state_path(order_id: order.id, state: "Shipped"), class: "btn btn-mini btn-danger" if order.state == "Paid") %>
			</tr>
		<% end %>

	</tbody>
	
	
	</table>

</div>

<% else %>
<h2>No Orders To Ship</h2>
<% end %>