<div class="hero-unit">
	<h1 class="heading">Philadelphia Spice Trader Admin</h1>
</div>

<div id="lastOrders" class="widget">
	<table border="0" cellspacing="5" cellpadding="5" class="table table-striped table-condensed">
		<caption><h4>Your Last Five Completed Orders</h4></caption>
		<thead>
		 <tr>
			<th>ID</th>
			<th>Customer</th>
			<th>Date</th>
			<th>State</th>
			<th>Total</th>

		
		 </tr>
		</thead>
		<tbody>
		<% @orders.each do |order| %>
			<tr>
					<%= content_tag :td, order.uuid.to_s.truncate(8) %>
						<%= content_tag :td, order.customer.name %>
					<%= content_tag :td, order.updated_at.strftime("%b %d") %>
					<%= content_tag :td, order.state %>
					<%= content_tag :td, order.shipping_cost ? order.grand_total : order.total_price   %>

			
					<%= content_tag :td, (link_to "Show", stat_path(id: order.id)) %>
			</tr>
		<% end %>

	</tbody>
	
	
	</table>
	<%= link_to "All Orders", stats_path %>
</div>


IF YOU HAVE TIME!
<!--div id="mostPurchased" class="widget">
	<table border="0" cellspacing="5" cellpadding="5" class="table table-striped table-condensed">
		<caption><h4>Top Five Products</h4></caption>
		<thead>
		 <tr>
			<th>Product</th>
			<th>Variant</th>
			<th>Purchase Count</th>
		 </tr>
		</thead>
		<tbody>
		<% @orders.each do |order| %>
			<tr>
					<%= content_tag :td, order.uuid.to_s.truncate(8) %>
						<%= content_tag :td, order.customer.name %>
					<%= content_tag :td, order.updated_at.strftime("%b %d") %>
			</tr>
		<% end %>

	</tbody>
	
	
	</table>
	<%= link_to "All Orders", stats_path %>
	
</div-->


