<h1>Contact US</h1>

<%= form_tag do %>
	<%= label_tag :name, "Name" %>
	<%= text_field_tag :name %>
	
	<%= label_tag :email, "E-Mail" %>
	<%= text_field_tag :email %>
	
	<%= label_tag :phone, "Phone" %>
	<%= text_field_tag :phone %>
	
	<%= label_tag :message, "Message" %>
	<%= text_area_tag :message %>
	
	<%= submit_tag "Send" %>
<% end %>