<hr class="top">

<h2 class="main">Welcome</h2>

<div id="mainSlider" class="sliders">
	<ul class="bjqs">
		<% @sliders.each do |slider| %>
			<%= content_tag :li do %>
					<%= image_tag slider.picture.url(:main) %>
					<p><%= slider.name %></p>
			<% end %>
		<% end %>
	</ul>
</div>

<div id="featuredProduct" class="featuredSlice">
	<hr>
	<div id="container">
	<div id="left">
		<h2 class="featured"> Featured Spice</h2>
		<%= image_tag @featured.front_hero.image.url(:square) %>
	</div>
	<div id="right">
		<h3><%= link_to @featured.front_hero.name, storefront_product_path(@featured) %></h3>
		<p><%= @featured.front_hero.description %></p>
	</div>
	</div>
</div>

<div id="catalogueFeature" class="featuredSlice">
	<hr>
	<div id="container">
	<div id="left">
		<h2 class="featured"> Our Catalogue </h2>
		<%= image_tag @option.image.url(:square) %>
	</div>
	<div id="right">
		<h3><%= link_to @option.cat_heading, store_path %></h3>
		<p><%= simple_format(@option.cat_info) %></p>
	</div>
	</div>
</div>


<%= render :partial => 'the_cart' %>
