<h1>Welcome</h1>

<div id="mainSlider" class="sliders">
	<ul class="bjqs">
		<% @sliders.each do |slider| %>
			<%= content_tag :li do %>
					<%= image_tag slider.picture.url(:main) %>
					<p><%= slider.name %></p>
			<% end %>
		<% end %>
	</ul>
</div>

<div id="featuredProduct">
	<h2> Featured </h2>
	<%= image_tag @featured.front_hero.image.url(:medium) %>
	<h3><%= @featured.front_hero.name %></h3>
	<p><%= @featured.front_hero.description %></p>
</div>

<div id="catalogueFeature">
	<h2> Our Catalogue </h2>
	<%= image_tag @option.image.url(:medium) %>
	<h3><%= @option.cat_heading %></h3>
	<p><%= @option.cat_info %></p>
</div>


<div id="quickCart">
	<%= render :partial => 'cart_table' %>
</div>