<% title " - Store" %>


<hr class="top">
<h2 id="productCategories">
	<% Category.all.each_with_index do |cat, index| %>
		<%= content_tag :span do %>
		<%= content_tag :span, "|", class: "spacer" unless index == 0 %>
		 <%= link_to cat.name, category_id: cat.slug %>
		 <% end %>
	<% end %>
</h2>

<%= form_tag store_path, method: :get, id: "search", class: "form-inline" do %>

<p>Search for spices: we have a large catalogue.</p>
<br>
  <p>
    <%= text_field_tag :query, params[:query], data: {provide: "typeahead", source: "#{@category.products.active.collect {|product| product.name }}"}, autocomplete: "off" %>
    <%= submit_tag "Search", class: "btn btn-primary btn-small", name: nil %><br>
		<%= link_to "Reset Search", store_path %>
  </p>
<% end %>


<div id="mainList">
	<ul id="subcategories">
		
		<% @category.subcategories.each_with_index do |subcat, index| %>
		<% if @category.products.count < 1 || @category.products.active.count < 1 %>

		<h3>Coming Soon!</h3>
		<% end %>
		<% unless subcat.products.active.blank? %>

			<li class="subcategories">
				<%= content_tag :h4, subcat.name, class: "opener #{'active' if index == 0 }" %>
					<ul class="subcategory <%= 'active' if index == 0 %>">
						<% if params[:query] %>
						<% subcat.products.where("name @@ :q", q: params[:query]).active.each do |product| %>
							<% unless product.lowest_price.blank? %>
						<li>

							<div class="productLeft">
							<%= image_tag product.front_hero.image.url(:rect) %>
							<%= link_to product.name, storefront_product_path(product) %>
							<%= form_for @line_item, remote: true do |f| %>
								<%= f.grouped_collection_select :price_id, product.variants.active, 'prices.by_weight', :name, :id, :weight_and_price %>
									<%= f.submit "Add to&#10;Cart".html_safe %>
							<% end %>
							</div>
						</li>
						<% end %>
						
					<% end %>
						<% else %>
							<% subcat.products.active.each do |product| %>
							<% unless product.lowest_price.blank? %>
							<li>

								<div class="productLeft">
								<%= image_tag product.front_hero.image.url(:rect) %>
								<%= link_to product.name, storefront_product_path(product) %>
								<%= form_for @line_item, remote: true do |f| %>
									<%= f.grouped_collection_select :price_id, product.variants.active, 'prices.by_weight', :name, :id, :weight_and_price %>
									<%= f.submit "Add to&#10;Cart".html_safe %>
								<% end %>
							</div>


							</li>
							<% end %>
						<% end %>
						<% end %>

					</ul>
			</li>

		
			<% end %>
		<% end %>
	<ul>
</div>

<%= render :partial => 'the_cart' %>