<% title " - Store" %>


<hr class="top">
<h2 id="productCategories">
	<% Category.all.each do |cat| %>
		<%= content_tag :span do %>
		 <%= link_to cat.name, category_id: cat.id %>
		 <% end %>
	<% end %>
</h2>

<%= form_tag storefront_path, method: :get, id: "search", class: "form-inline" do %>
  <p>
    <%= text_field_tag :query, params[:query], data: {provide: "typeahead", source: "#{@category.products.active.is_stocked.collect {|product| product.name }}"}, autocomplete: "off" %>
    <%= submit_tag "Search", class: "btn btn-primary btn-small", name: nil %><br>
		<%= link_to "Reset Search", storefront_path %>
  </p>
<% end %>


<div id="mainList">
	<ul id="subcategories">
		<% @category.subcategories.each_with_index do |subcat, index| %>
		<% unless subcat.products.active.is_stocked.blank? %>
			<li>
				<%= content_tag :h4, subcat.name, class: "opener #{'active' if index == 0 }" %>
					<ul class="subcategory <%= 'active' if index == 0 %>">
						<% if params[:query] %>
						<% subcat.products.where("name @@ :q", q: params[:query]).active.is_stocked.each do |product| %>
						<li>
							<%= image_tag product.front_hero.image.url(:medium) %>
							<%= link_to product.name, storefront_product_path(product) %>
							<%= form_for @line_item, remote: true do |f| %>
								<%= f.grouped_collection_select :price_id, product.variants.active.is_stocked, 'prices.by_weight', :name, :id, :weight_and_price %>
								<%= f.submit "Add to Cart" %>
							<% end %>
						</li>
					<% end %>
						<% else %>
							<% subcat.products.active.is_stocked.each do |product| %>
							<li>
								<%= image_tag product.front_hero.image.url(:medium) %>
								<%= link_to product.name, storefront_product_path(product) %>
								<%= form_for @line_item, remote: true do |f| %>
									<%= f.grouped_collection_select :price_id, product.variants.active.is_stocked, 'prices.by_weight', :name, :id, :weight_and_price %>
									<%= f.submit "Add to Cart" %>
								<% end %>
							</li>
						<% end %>
						<% end %>
							
					</ul>
			</li>
			<% end %>
		<% end %>
	<ul>
</div>

<%= render :partial => 'the_cart' %>
