<% title " - Review Order " %>

<%= content_for(:stripe) do %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('<%= Settings.stripe_api_pk %>');
  // ...
</script>

<% end %>


<h2 class="review main">Review Your Order</h2>

<div id="checkoutText">
	Please review the information below, select a shipping/pickup method, and enter payment information.  All payment is completed over a secure connection and we don't store your credit card information on our site.
</div>


<div id="orderItems">
	<%= render :partial => 'cart_table' %>
	
</div>


<div id="orderInformation">
	<h4>Contact Information</h4>
	<%= content_tag :p, @order.customer.first_name %>
	<%= content_tag :p, @order.customer.last_name %>
	<%= content_tag :p, @order.customer.company %>
	<%= content_tag :p, @order.customer.email %>
	<%= content_tag :p, @order.customer.home_phone %>
	<%= content_tag :p, @order.customer.work_phone %>

	<% @order.addresses.each do |address| %>
		<%= content_tag :h4, "#{address.kind} Address" %>
		<%= content_tag :p, address.address1 %>
		<%= content_tag :p, address.address2 %>
		<%= content_tag :p, "#{address.city}, #{address.state} #{address.zip} "%>
	<% end %>

</div>
 
<br>
<%= form_tag storefront_pay_path, id: 'new_transaction' do %>
<h2 class="shipping main">Shipping Method:</h2>


	<br>
		<%= radio_button_tag 'selected_rate', 'usps', true, "data-cost" => @rates[:usps] %>
		<%= label_tag "selected_rate_usps", "USPS: $#{@rates[:usps]}" %>
	<br>
		<%= radio_button_tag 'selected_rate', 'ups', false, "data-cost" => @rates[:ups] %>
		<%= label_tag "selected_rate_ups", "UPS Overnight: $#{@rates[:ups]}" %>
	<br>
		<%= radio_button_tag 'selected_rate', 'pickup', false, "data-cost" => 0 %>
		<%= label_tag "selected_rate_ups", "Arrange Pickup: $0" %>
	<br>
	<div class="payment-errors"></div>
  <div id="creditCardFields">
<%= hidden_field_tag :order_id, @order.id %>
	  	 <div class="field">
 		   <%= label_tag :credit_card_number, "Credit Card Number:" %>
 		   <%= text_field_tag :credit_card_number, nil, name: nil, :data => {stripe: "number"} %>
		 </div>
		  
		 <div class="field">
		     <%= label_tag :card_month, "Card Expiration" %>
			 <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
			 <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"} %>
 <input type="number" size="2" data-stripe="exp-month" id="exp-month" value="1"/>
 <input type="number" size="4" data-stripe="exp-year" id="exp-year" value="2013"/>
		   </div>
		
		<div class="field">
 		   <%= label_tag :cvv, "CVC/Security Code" %>
 		   <%= text_field_tag :cvv, nil, name: nil, :data => {stripe: "cvc"} %>
		</div>

  </div>
	
	<%= content_tag :div, "Grand Total: $#{@cart.total_price + @selected_rate}", id: 'grandTotal', data: {cost: @cart.total_price} %>
	<%= submit_tag "Pay" %>
<% end %>



