
<div id="modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <%= content_tag :h3, "Edit #{@variant.name}" %>
  </div>
  <div class="modal-body">
		<%= form_for [@product, @variant], html: {class: "validate_me"} do |f| %>
		<%= f.label :name, "Name:", class: "required_field", data: {message: "Please enter a Name of at Least Three Letters"} %>
		<%= f.text_field :name %>

		<%= f.label :description, "Description:" %>
		<%= f.text_area :description, size: '80x8' %>
		
		<% if f.object.image.blank? %>
			<%= f.label :image, "Image" %>
			<%= f.file_field :image %>
		<% else %>
	
			<%= f.label :image, "Image" %>
			<%= f.file_field :image %>
					<%= image_tag f.object.image.url(:thumb) %>
		<% end %>	
  </div>
  <div class="modal-footer">

		<%= f.submit "Update", class: "btn btn-primary" %>
	<% end %>

  </div>
</div>