<%= content_tag :h1, "All Categories" %>

<ul class="categories">
	<% @categories.each do |category| %>
		<li class="category_<%= category.id %> <%= cycle('odd', 'even') %>" >
			<%= content_tag :h3, category.name, class: "headFloat" %>
			<div class="actions">
				<%= link_to "Edit", edit_category_path(category), class: "btn btn-mini triggerBlank" %>
				<%= link_to "Add Subcategory", new_category_subcategory_path(category), class: 'btn btn-mini triggerBlank' %>
			</div>
			<ul>
				<% unless category.subcategories.blank? %>
				
					<%= content_tag :h4, "Subcategories: " %>
					<% category.subcategories.each do |subcategory| %>
					<li>
					<%= content_tag :span, subcategory.name %>
						<div class='btn-group'>
						<%= link_to "<i class='icon-pencil'></i>".html_safe, edit_category_subcategory_path(category, subcategory), class: "btn btn-mini tip triggerBlank", data: {toggle: "tooltip"}, title: "Edit Subcategory" %>
						<%= link_to "<i class='icon-trash'></i>".html_safe, category_subcategory_path(category, subcategory), method: :delete, class: "btn btn-mini tip", data: {toggle: "tooltip"}, title: "Delete Subcategory" %>
					</div>
				</li>
					<% end %>
				<% else %>
				
				<%= content_tag :h4, "No Subcategories" %>
				
				<% end %>
			</ul>
			
		</li>
	<% end %>
</ul>


<%= link_to "New Category", new_category_path, class: "btn btn-primary btn-large triggerBlank" %>