<h1 id="cartHead">Your Cart</h1>

<span class='note'>(You remove items or edit their quantity)</span>

<table>
	<thead>
		<tr>
			<th>Unit Price</th>
			<th>Item</th>
			<th>Quantity</th>
			<th>Total</th>
			<th>Remove</th>
		</tr>
	</thead>
	
	<tbody>
		<% @cart.line_items.each do |item| %>
		
		<tr>
			<td><%= item.cost %></td>
			<td><%= item.info %></td>
			<td><%= link_to item.quantity, '#', id: "quantity", data: {type: "text", url: update_quantity_path, pk: item.id, original_title: "Change Quantity"} %></td>
			<td><%= item.total_price %> </td>
					<td> <%= link_to "Remove Item", item, method: :delete, remote: true, confirm: "Are You Sure"  %> </td>
		</tr>
		
		<% end %>
	</tbody>
	
	<tfoot>
		<tr>
			<td>Subtotal</td>
			<td><%= @cart.total_price %></td>
		</tr>
	</tfoot>
</table>
<span class="checkoutTwig"></span>

<%= link_to "Checkout", new_order_path, class: "checkout" %>

<span class="checkoutTwig flip"></span>