<h1 id="cartHead">Your Cart</h1>

<span class='note'>(You remove items or edit their quantity)</span>

<table>
	<thead>
		<tr>
			<th>Unit Price</th>
			<th>Item</th>
			<th>Total</th>
		</tr>
	</thead>
	
	<tbody>
		<% @cart.line_items.each do |item| %>
		
		<tr>
			<td><%= link_to edit_line_item_path(item) do %><%= item.cost %><% end %></td>
			<td><%= item.info %></td>
			<td><%= item.total_price %> </td>
		</tr>
		
		<% end %>
	</tbody>
	
	<tfoot>
		<tr>
			<td>Subtotal</td>
			<td><%= @cart.total_price %></td>
		</tr>
	</tfoot>
</table>

<span class="checkoutTwig"></span>

<%= link_to "Checkout", new_order_path, class: "checkout" %>

<span class="checkoutTwig flip"></span>