

<%= render :partial => 'active_nav' %>

<%= form_tag products_path, method: :get, id: "search", class: "form-inline" do %>
  <p>
    <%= text_field_tag :query, params[:query], data: {provide: "typeahead", source: "#{@products.collect {|product| product.name }}"}, autocomplete: "off" %>
    <%= submit_tag "Search", class: "btn btn-primary btn-small", name: nil %>
  </p>
<% end %>

<%= form_tag(products_path, method: 'get', id: "filter", class: "form-inline") do %>
	<%# hidden_field_tag :direction, params[:direction] %>
  <%# hidden_field_tag :sort, params[:sort] %>
	<%= hidden_field_tag :active, params[:active] %>
	<%= hidden_field_tag :stocked, params[:stocked] %>
	<% if params[:product] %>
		<%= collection_select :product, :category_id, Category.all, :id, :name, {include_blank: "All", selected: params[:product][:category_id]} %>
	<% elsif params[:category_id].to_s.length > 0 %>
			<%= collection_select :product, :category_id, Category.all, :id, :name, {include_blank: "All", selected: params[:category_id]} %>
	<% else %>
		<%= collection_select :product, :category_id, Category.all, :id, :name, {include_blank: "All", selected: "All"} %>
	<% end %>
	<%= submit_tag "Filter", class: "btn btn-primary btn-small" %>
<% end %>

<ul class="products">
	<% @products.each do |product| %>
	
		<%= link_to product_path(product) do %>
			<li id="product_<%= product.id %>" class="<%= cycle("odd", "even") -%>">
				<%= image_tag product.hero_variant.image.url(:thumb) %>
				<span class="productDeets">
					<p>
					<%= "Name: #{product.name} | Price Range: #{product.display_price_range}" %>
				</p>
				<div id="categories">
					<%= render :partial => 'category_info', locals: {product: product} %>
				</div>
					<div class="btn-group">
					<%= "#{link_to( 'Details', product_path(product), class: "rightPane btn btn-mini")}".html_safe  %>
					<%= product.active? ? (link_to 'Deactivate', product, method: :delete, class: "btn btn-mini") : (link_to 'Activate', revive_product_path(product), class: 'btn btn-mini') %>
				</div>	
				</span>				
			</li>
			<% end %>

	<% end %>
</ul>
