<%= f.label :category, "Category:" %>
		<%= f.collection_select :category_id, Category.all, :id, :name %>
		<%= hidden_field_tag :path, edit_product_path(@product) %>
		<div id="subload">
			<% if @category.subcategories.count > 0 %>
				<%= f.label :subcategory, "Sub-Category:" %>
				<%= f.collection_select :subcategory_id, @category.subcategories.all, :id, :name %>
			<% end %>
		</div>