<div id="variants">
<%= content_tag :h2, "Variations" %> 
	<ul>
		<% @product.variants.recent.each do |variant| %>
			<li class='variant <%= cycle("odd", "even") -%>'>
				<%= variant.active? ? "<span class='label label-success	'>Active</span>".html_safe : "<span class='label'>Inactive</span>".html_safe %>
						<%= content_tag :span, "Master", class: "label label-info", id: "master" if variant.master? %>
						<%= variant.stocked? ? content_tag(:span, "In-Stock", class: "label label-info") : content_tag(:span, "Out-Of-Stock", class: "label label-info") %>
						
				<%= content_tag :h3, "#{variant.name}" %>
				<%= variant.description %>
				<ul class="pricesWeights">
					<% variant.prices.by_weight.each do |price| %>
						<li class="priceWeight">
							<span>
								<%= "#{price.weight.display} for: " %>
								<%= "#{price.amount} USD" %>
							</span>
							<%= link_to "<i class='icon-pencil'></i>".html_safe, edit_weight_product_variant_path(@product, variant, weight_id: price.weight.id, price_id: price.id), class: "btn btn-mini tip", data: {toggle: "tooltip"}, title: "Edit Price" %>
							<%= link_to "<i class='icon-trash'></i>".html_safe, delete_price_product_variant_path(@product, variant, price_id: price.id), class: "btn btn-mini tip", data: {toggle: "tooltip"}, title: "Delete Price" %>
						</li>
					<% end %>
				</ul>

				<%= "#{link_to 'Edit', edit_product_variant_path(@product, variant), class: "btn btn-mini triggerWeight"}  #{link_to "Add a Weight", weights_product_variant_path(@product, variant), class: "btn-mini btn triggerWeight"}".html_safe %>
	

				<%= variant.active? ? (link_to 'Deactivate', product_variant_path(@product,variant), method: :delete, class: "btn btn-mini btn-danger") : (link_to 'Activate', revive_product_variant_path(@product, variant), class: "btn btn-mini btn-success") %>
				
				<% if variant.stocked? %>
					<%= link_to "Unstock", unstock_product_variant_path(@product, variant), class:'btn btn-primary'%>
				<% else %>
					<%= link_to "Re-Stock", stock_product_variant_path(@product, variant), class:'btn btn-primary'%>
				<% end %>
				
				<%= (link_to "Set as Master", master_product_variant_path(@product,variant), method: :put, class: 'btn btn-mini btn-success') unless variant.master? %>
			</li>
		<% end %>
	
	
	</ul>
</div>