<% if @product %>
<div id="productShow" class-"media">

	<%= content_tag :h1, @product.hero_variant.name %> 
	<%= content_tag :span, "#{@product.category.name}", class: "label label-info", id: "category" if @product.category %>


	
	<%= image_tag @product.hero_variant.image.url(:medium), class: "featuredImg" %>
		<%= link_to "Change Category", edit_product_path(@product), class: "btn btn-primary triggerBlank" %>
<%= link_to "Add New Variant", new_product_variant_path(@product), class:'btn btn-primary'%>
	<%= render :partial => 'display_variants' %>



</div>
<% end %>
<%= render :partial => 'blank_modal' %>
