<% if @product %>
<div id="productShow" class-"media">

	<%= content_tag :h1, @product.hero_variant.name %> 
	<%= render :partial => 'category_info', locals: {product: @product} %>

	<%= @product.stocked? ? content_tag(:span, "In-Stock", class: "label label-info") : content_tag(:span, "Out-Of-Stock", class: "label label-info") %>


	
	<%= image_tag @product.hero_variant.image.url(:medium), class: "featuredImg" %>
	<div class="btn-group">
		<%= link_to "Change Category", edit_product_path(@product), class: "btn btn-primary triggerBlank" %>
<%= link_to "Add New Variant", new_product_variant_path(@product), class:'btn btn-primary triggerBlank'%>
	<% if @product.stocked? %>
		<%= link_to "Unstock All", unstock_product_path(@product), class:'btn btn-primary'%>
	<% else %>
		<%= link_to "Re-Stock All", stock_product_path(@product), class:'btn btn-primary'%>
	<% end %>
</div>
	<%= render :partial => 'display_variants' %>



</div>
<% end %>
<%= render :partial => 'blank_modal' %>
