<fieldset class="item">
		<%= f.label :name, "Name:"  %>
		<%= f.text_field :name %>
		
		<%= f.label :description, "Description:" %>
		<%= f.text_area :description %>
		
		<% if f.object.image.blank? %>
			<%= f.label :image, "Image" %>
			<%= f.file_field :image %>
		<% else %>
			<%= image_tag f.object.image.url(:thumb) %>
		<% end %>
		<h3>Prices</h3>
		
		<div class="priceWeight">
			<%= label_tag :weight, "Weight:" %>
			<%= text_field_tag :weight %>
			
			<%= label_tag :price, "Price:" %>
			<%= text_field_tag :price %>
		</div>
			

		
</fieldset>