<fieldset class="item">
		<%= f.label :name, "Name:"  %>
		<%= f.text_field :name, class: "required_field", data: {message: "Please enter a Name of at Least Three Letters"} %>
		
		<%= f.label :description, "Description:" %>
		<%= f.text_area :description, size: "80x8" %>
		
		<% if f.object.image.blank? %>
			<%= f.label :image, "Image" %>
			<%= f.file_field :image %>
		<% else %>
			<%= image_tag f.object.image.url(:thumb) %>
		<% end %>
		<h3>Prices</h3>
		
		<%= fields_for :pricesa do |p| %>
		<% @variant.weights.each_with_index do |w, index| %>
		<div class="priceWeight">
			<span><%= "#{w.ounces} #{w.unit}" %></span>
		
		<div class="input-prepend">
		      <span class="add-on">$</span>
		     				<%= p.text_field nil, class: "required_price", name: "[pricesa][#{index}]" %>
		    </div>

			
		</div>
		<% end %>

		<% end %>
</fieldset>
<br><br>