<div id="modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <%= content_tag :h1, "Change Category" %>
  </div>
  <div class="modal-body">
		<%= form_for @product do |f| %>
		<%= render :partial => 'choose_category', locals: {f: f} %>
		<%= f.label :alternate_names, "Alternate Names" %>
		<%= f.text_area :alternate_names, size: '80x8' %>


		<%= f.submit "Update" %>
	<% end %>

  </div>
</div>