


	


<div id="modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <%= content_tag :h1, "Change Category" %>
  </div>
  <div class="modal-body">
		<%= form_for @product do |f| %>
		<%= f.label :category, "Category:" %>
		<%= f.collection_select :category_id, Category.all, :id, :name  %>
  </div>
  <div class="modal-footer">
		<%= f.submit "Update" %>
	<% end %>

  </div>
</div>