<%= content_tag :h1, "Product Management" %>

<%= render :partial => 'active_nav' %>

<ul>
	<% @products.each do |product| %>
	<li id="product_<%= product.id %>">
		<%= "Name: #{product.name} | Actions: #{link_to 'Edit', edit_product_path(product)} | #{link_to 'Details', product}".html_safe  %>
		<%= product.active? ? (link_to 'Deactivate', product, method: :delete) : (link_to 'Activate', revive_product_path(product)) %>
		<ul>
			<% product.variants.each do |variant| %>
				<%= variant.name %> | <%= variant.price %>
			<% end %>
		</ul>
	</li>
	<% end %>
</ul>

<%= link_to "New Product", new_product_path%>