<%= content_tag :h1, "Create a New Product" %>
<%= form_for @product do |f| %>

	<div class="items">
		<%= f.nested_fields_for :variants do |f| %>
			<%= render :partial => 'variants', locals: {f: f} %>
		<% end %>
	</div>
	
	<%= f.submit "Create" %>
<% end %>

