
<div id="content">

	<div id="modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <%= content_tag :h1, "Create a New Product" %>
	  </div>
		
	  <div class="modal-body">
			<%= form_for(@product, html: {class: "validate_me"}) do |f| %>
			<%= f.label :category_id, "Category:" %>

		<%= f.collection_select :category_id, Category.all, :id, :name %>
		<%= hidden_field_tag :path, new_product_path(@product) %>
		<%= link_to "<i class='icon-plus'></i>Add Category".html_safe, new_category_path, class: "btn btn-mini tip triggerBlank", data: {toggle: "tooltip"}, title: "Add Category" %>
		<div id="subload">
			<% if @category.subcategories.count > 0 %>
				<%= f.label :subcategory, "Sub-Category:" %>
				<%= f.collection_select :subcategory_id, @category.subcategories.all, :id, :name  %>
				<%= link_to "<i class='icon-plus'></i>Add Subcategory".html_safe, new_category_subcategory_path(@category), class: "btn btn-mini tip triggerBlank", data: {toggle: "tooltip"}, title: "Add Subcategory" %>
			<% end %>
		</div>
				
				<div class="items">
					<%= f.nested_fields_for :variants do |f| %>
						<%= render :partial => 'variants', locals: {f: f} %>
					<% end %>
				</div>
				
				<%= f.label :alternate_names, "Alternate Names" %>
				<%= f.text_area :alternate_names, size: '80x8' %>
		</div>
	  <div class="modal-footer">

			<%= f.submit "Create" %>
		<% end %>

	  </div>
	</div>

</div>