<!DOCTYPE html>
<html>
<head>
  <title>Philaspice</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav id="adminNav">
		<ul>
			<%= content_tag :li, link_to(products_path) %>
			<%= content_tag :li, link_to(categories_path) %>
		</ul>
	</nav>

<%= yield %>

</body>
</html>
