<!DOCTYPE html>
<html>
<head>
  <title>Philaspice</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav id="adminNav">
		<ul class="nav nav-tabs">
			<%= content_tag :li, link_to("Products", products_path) %>
			<%= content_tag :li, link_to("Categories", categories_path) %>
		</ul>
	</nav>
	<div class="container-fluid">
	  <div class="row-fluid">
				 <%= yield %>
	  </div>
	</div>



</body>
</html>


