<!DOCTYPE html>
<html>
<head>
  <title><%= "Philadelphia Spice Trader #{yield :title}" %></title>
  <%= stylesheet_link_tag    "front", :media => "all" %>
  <%= javascript_include_tag "front" %>
	
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
		  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/jquery-editable/css/jquery-editable.css" rel="stylesheet">
		<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/jquery-editable/js/jquery-editable-poshytip.min.js"></script>
	
<%= yield :stripe %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

		<header id="front">
			<%= mobile_image "logo.png", "Philadelphia Spice Trader" %>

			
			<nav id="front">
				
				<div>
					<%= active_link_to "Home", root_path, active: :exclusive %> | 
					<%= active_link_to "Catalogue", storefront_path, :active => /^\/store/ %> | 
					<%= active_link_to "About", front_about_path %> | 
					<%= active_link_to "Contact", front_contact_path %>
				</div>
				
			</nav>
			
		</header>

		<% if notice %>
			<p id="notice"><%= notice %></p>
		<% end %>
		
		<div id="content">
				<%= yield %>
		</div>
		
		
	
</body>

<footer>
	<div>
		Philadelphia Spice Trader
<%= mobile_image "stem.png" %>
		1000 E. Spice Street
		Philadelphia, P.A. 19148
		<br>
		<br>
		(215) 888-1212
		<br>
		sales@phillyspicetrader.com
	</div>
	
	
</footer>

</html>


