<!DOCTYPE html>
<html>
<head>
  <title><%= "Philadelphia Spice Trader #{yield :title}" %></title>
  <%= stylesheet_link_tag    "front", :media => "all" %>
  <%= javascript_include_tag "front" %>
	<link rel="apple-touch-icon" href="/favicon.png">

	<link rel="shortcut icon" href="/favicon.ico">
	  <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
		  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/jquery-editable/css/jquery-editable.css" rel="stylesheet">
		<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/jquery-editable/js/jquery-editable-poshytip.min.js"></script>
	
<%= yield :stripe %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

		<header id="front">
			<%= mobile_image "logo.png", "Philadelphia Spice Trader" %>

			
			<nav id="front">
				
				<div>
					<%= active_link_to "Home", root_path, active: [['front'], ['index']] %> | 
					<%= active_link_to "Catalogue", store_path, :active => /^\/store/ %> | 
					<%= active_link_to "About", about_path %> | 
					<%= active_link_to "Contact", contact_path %>
				</div>
				
			</nav>
			
		</header>

		<% if notice %>
			<p id="notice"><%= notice %></p>
		<% end %>
		
		<div id="content">

				<%= yield %>
		</div>
		
		
	
</body>

<footer>
	<div>
		<p>Philadelphia Spice Trader</p>
<%= mobile_image "stem.png" %>
		<p>124 A West 5th St
</p>
		<p>Chester PA 19013</p>
		<p> - By Appointment Only - Please Call: </p>
		<p>(215) - 627 - 1700</p>
		<p>philadelphiaspicetrader@gmail.com</p>
	</div>
	
	
</footer>

</html>


