<!DOCTYPE html>
<html>
<head>
  <title>Philadelphia Spice Trader</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
	
  <%= stylesheet_link_tag    "front", :media => "all" %>
  <%= javascript_include_tag "front" %>
		<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/jquery-editable/js/jquery-editable-poshytip.min.js"></script>
	<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/jquery-editable/css/jquery-editable.css" rel="stylesheet">
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_ubs71tWUPdo1gzhJ06sgOsE7');
  // ...
</script>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

		<header id="front">
			<%= mobile_image "logo.png", "Philadelphia Spice Trader" %>

			
			<nav id="front">
				
				<div>
					<%= link_to "Home", root_path %>
					<%= link_to "Catalogue", storefront_path %>
					<%= link_to "About", front_about_path %>
					<%= link_to "Contact", front_contact_path %>
				</div>
				
			</nav>
			
		</header>

		<% if notice %>
			<p id="notice"><%= notice %></p>
		<% end %>
		
		<div id="content">
				<%= yield %>
		</div>
		
		
	
</body>

<footer>
	<div>
		Philadelphia Spice Trader
<%= mobile_image "stem.png" %>
		1000 E. Spice Street
		Philadelphia, P.A. 19148
		<br>
		<br>
		(215) 888-1212
		<br>
		sales@phillyspicetrader.com
	</div>
	
	
</footer>

</html>


